body
{
  font-family: Ubuntu, sans-serif; 
}

.header
{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
}

.footer
{
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap
{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.nav
{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav > li
{
  margin-left: 15px;
}

.nav > li > a
{
  text-decoration: none;
  color: #202020;
}

.btn_nav
{
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #5528FF;
  padding: 10px 15px;
}

.logo
{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo_img
{
  margin-right: 20px;
  display: block;
  background-image: url("assets/mamon-logo.svg");
  width: 58px;
  height: 58px;
}

.logo_text
{
  font-size: 24px;
  color: #202020;
}

.page-top
{
  border-top: 1px solid #C2C2C2;
}

.button
{
  border: none;
  padding: 10px 45px;
  background-color: #5528FF;
  border-radius: 10px;
  color: #FFF;
  font-style: 24px;
  font-weight: 400;
}

.page
{
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.page h2
{
  top: -24px;
  font-weight: 300;
  background-color: #FFF;
  font-size: 14px;
  padding: 5px 15px;
  color: #C2C2C2; 
  position: absolute;
}

.title_main
{
  font-size: 57px;
  font-weight: bold;
  color: #202020;
}

.text_main
{
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  color: #4f4f4f;
}

.service
{
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.service h3
{
  font-weight: 400;
  font-size: 28px;
  color: #000;
}

.service p
{
  font-size: 14px;
  font-weight: 400;
  color: #B2B2B2;
  line-height: 1.5;
}

.services_img
{
  flex-basis: 120px;
  text-align: center;
}

.services_text
{
  flex-basis: calc(100% - 100px);
}

.service-item
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.clients
{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 25%);
  text-align: center;
  grid-row-gap: 40px;
}

.team
{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 33%);
  grid-row-gap: 40px;
}

.team-item
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.team-item img
{
  margin-right: 20px;
}

.team-item > div
{
  flex-basis: cacl(100% - 100px);
}

.links ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links > ul > li{
  list-style-type: none;
  margin-left: 15px;
}

.team-item h3
{
  color: #202020;
  font-family: 28px;
}

.team-item p
{
  color: #b2b2b2;
  font-size: 14px;
}

